body{
    background-color: skyblue;
}
h1{
    font-size: 8rem;
    text-align: center;
    color: blue;text-decoration: underline;
}
p{
    font-size: 4rem;
    text-align: center;
    color: brown;text-decoration: underline;
}


                  